In [41]:
import pandas as pd

In [42]:
df = pd.read_csv("./ChurnData.csv")

In [43]:
df.columns

Index(['tenure', 'age', 'address', 'income', 'ed', 'employ', 'equip',
       'callcard', 'wireless', 'longmon', 'tollmon', 'equipmon', 'cardmon',
       'wiremon', 'longten', 'tollten', 'cardten', 'voice', 'pager',
       'internet', 'callwait', 'confer', 'ebill', 'loglong', 'logtoll',
       'lninc', 'custcat', 'churn'],
      dtype='object')

In [44]:
df = df [['tenure', 'age', 'address', 'income', 'ed', 'employ', 'equip','callcard', 'wireless', 'churn']]

In [45]:
df["churn"]=df["churn"].astype("int")

In [46]:
df.head()

,tenure,age,address,income,ed,employ,equip,callcard,wireless,churn
0,11.0,33.0,7.0,136.0,5.0,5.0,0.0,1.0,1.0,1
1,33.0,33.0,12.0,33.0,2.0,0.0,0.0,0.0,0.0,1
2,23.0,30.0,9.0,30.0,1.0,2.0,0.0,0.0,0.0,0
3,38.0,35.0,5.0,76.0,2.0,10.0,1.0,1.0,1.0,0
4,7.0,35.0,14.0,80.0,2.0,15.0,0.0,1.0,0.0,0

In [47]:
from sklearn import preprocessing
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import train_test_split

In [48]:
x= df[['tenure', 'age', 'address', 'income', 'ed', 'employ', 'equip','callcard', 'wireless']]
y= df["churn"]

In [49]:
x.head()

   tenure   age  address  income   ed  employ  equip  callcard  wireless
0    11.0  33.0      7.0   136.0  5.0     5.0    0.0       1.0       1.0
1    33.0  33.0     12.0    33.0  2.0     0.0    0.0       0.0       0.0
2    23.0  30.0      9.0    30.0  1.0     2.0    0.0       0.0       0.0
3    38.0  35.0      5.0    76.0  2.0    10.0    1.0       1.0       1.0
4     7.0  35.0     14.0    80.0  2.0    15.0    0.0       1.0       0.0

In [50]:
x=preprocessing.StandardScaler().fit(x).transform(x)

In [51]:
y

0      1
1      1
2      0
3      0
4      0
      ..
195    0
196    0
197    0
198    1
199    0
Name: churn, Length: 200, dtype: int32

In [52]:
#Entrenando los datos
x_train, x_test,y_train,y_test = train_test_split(x,df["churn"],test_size=0.2, random_state=42)

In [53]:
k=5
knn=KNeighborsClassifier(n_neighbors=k).fit(x_train,y_train)

In [54]:
y_hat = knn.predict(x_test)
y_hat

array([0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [55]:
confusion_matrix(y_test,y_hat,labels=[0,1])

array([[27,  4],
       [ 6,  3]], dtype=int64)

In [56]:
acurracy=(27+4)/40
print(acurracy)

0.775

In [57]:
#Entrenando con todos los datos(pecado)
k=5
knn=KNeighborsClassifier(n_neighbors=k).fit(x,y)

In [60]:
y_hat_prob=knn.predict(x)

In [62]:
confusion_matrix(df["churn"], y_hat_prob, labels=[0,1])

array([[133,   9],
       [ 28,  30]], dtype=int64)

In [63]:
acurracy=(133+30)/200
print(acurracy)

0.815